<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="configuracion-de-menu.component.css">

    <title>Configuracion de Menu</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">
          </div>
          <div class="center">
            Papa Rellena
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >
          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Aguadito de Pollo
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Pollo al Horno con Ensalada Rusa
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Seco de Pollo
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Pallar con Lomo al Jugo
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Arroz con Pollo
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Arroz a la Jardinera
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Causa Rellena Adicional
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Aguadito de Pollo Adicional
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
        <div class="row">
          <div class="left">
            <img src="img/bandeja.png" alt="bandeja" width="50" height="50">

          </div>
          <div class="center">
            Taper
          </div>
          <div class="right">
            <input type="image" img src="img/pen.png"  alt="laipz" width="50" height="50" >&nbsp;&nbsp;&nbsp;<input type="image" img src="img/tacho.png"  alt="laipz" width="60" height="50" >

          </div>
        </div>
      </div>
</body>
</html>
