<div class="contenedor-cabezal">
  <div class="cabezal">
    <div class="cards">      
        <img src="./assets/img/Mama luz logo.png" alt="Icono Mama Luz" height="100px" width="100px">     
    </div>
    <div class="cards">      
        <a class="nav-link" href="#">Mesas</a>

    </div>
    <div class="cards">
        <a class="nav-link" href="#">Venta Rápida</a>
    </div>
    <div class="cards">
        <a class="nav-link" href="./app/layout/Privado/segundo-piso/segundo-piso.component.html">Segundo Piso</a>
    </div>
    <div class="cards">

    </div>

  </div>
</div>

 


 <div class="contenedor">
  <div class="contenedor-mesas">
    <div class="card">
      <div class="texto">
        <h3>Mesa 01</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 02</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 03</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 04</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 05</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 06</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 07</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 08</h3>
      </div>
    </div>

  </div>
  
 </div>