<link rel="stylesheet" href="historial-de-venta.component.css">

<div class="container">
    <h1 class="title">Historial de Ventas</h1>
  </div>
 
  <table class="table" border="1">
    <tr>
      <th>Escrito</th>
      <th>Monto Inicial</th>
      <th>Monto final</th>
      <th>Ganancia Total</th>
    </tr>
    <tr>
      <td>03/05/2023</td>
      <td>150</td>
      <td>500</td>
      <td>800</td>

    </tr>
    <tr>
      <td>04/05/2023</td>
      <td>120</td>
      <td>635</td>
      <td>515</td>
    </tr>
    <tr>
      <td>05/06/2023</td>
      <td>160</td>
      <td>100</td>
      <td>818</td>
    </tr>
    <tr>
      <td>06/06/2023</td>
      <td>200</td>
      <td>500</td>
      <td>800</td>
    </tr>
    <tr>
      <td>07/06/2023</td>
      <td>150</td>
      <td>370</td>
      <td>220</td>
    </tr>
  </table>
