<p>edit-menu works!</p>
<div class="contenedor-cabezal">
    <div class="cabezal">
      <div class="cards">      
          <img src="./assets/img/Mama luz logo.png" alt="Icono Mama Luz" height="100px" width="100px">     
      </div>
      <div class="cards">      
          <a class="nav-link" href="#">MESA 08</a>
  
      </div>

      <div class="cards">
          <a class="nav-link" href="./app/layout/Privado/principal/principal.component.html">Salir</a>
      </div>
      <div class="cards">
  
      </div>
  
    </div>
  </div>
  

<div class="contenedor">
    <div class="pedidos">
        <div class="contenedor-pedidos">
            <div class="card">
              <div class="texto">
                <h4>Asado de Res</h4>
              </div>
            </div>
            <div class="card">
              <div class="texto">
                <h4>Relleno Salado</h4>
              </div>
            </div>
            <div class="card">
              <div class="texto">
                <h4>Jugo de Piña</h4>
              </div>
            </div>
            <div class="card">
              <div class="texto">
                <h4>Cafe con leche</h4>
              </div>
    </div>
    <div class="cantidad-pedidos">
        
    </div>
    
      </div>