<div class="contenedor-cabezal">
    <div class="cabezal">
      <div class="cards">      
          <img src="./assets/img/Mama luz logo.png" alt="Icono Mama Luz" height="100px" width="100px">     
      </div>
      <div class="cards">      
          <a class="nav-link" href="#">Mesas</a>
  
      </div>
      <div class="cards">
          <a class="nav-link" href="#">Venta Rápida</a>
      </div>
      <div class="cards">
          <a class="nav-link" href="./app/layout/Privado/principal/principal.component.html">Primer Piso</a>
      </div>
      <div class="cards">
  
      </div>
  
    </div>
  </div>


 <div class="contenedor">
  <div class="contenedor-mesas">
    <div class="card">
      <div class="texto">
        <h3>Mesa 09</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 10</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 11</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 12</h3>
      </div>
    </div>
    <div class="card">
      <div class="texto">
        <h3>Mesa 13</h3>
      </div>
    </div>
    
  </div>
  
 </div>